<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Biology</key>
	<array>
		<array>
			<string>BIO 107</string>
			<string>Plant as Food and Medicine</string>
		</array>
		<array>
			<string>BIO 205</string>
			<string>Foundations of Biology</string>
		</array>
		<array>
			<string>BIO 206</string>
			<string>Organismal and Population Biology</string>
		</array>
		<array>
			<string>BIO 207</string>
			<string>Introductory Cell Biology and Genetics</string>
		</array>
		<array>
			<string>BIO 276</string>
			<string>Organismal and Population Biology Lab</string>
		</array>
		<array>
			<string>BIO 277</string>
			<string>Introductory Cell Biology and Genetics Lab</string>
		</array>
		<array>
			<string>BIO 307</string>
			<string>Human Anatomy</string>
		</array>
		<array>
			<string>BIO 308</string>
			<string>Human Physiology</string>
		</array>
		<array>
			<string>BIO 330</string>
			<string>Human Genetics</string>
		</array>
		<array>
			<string>BIO 333</string>
			<string>Genetics Laboratory</string>
		</array>
		<array>
			<string>BIO 341</string>
			<string>The Nature of Plants</string>
		</array>
		<array>
			<string>BIO 342</string>
			<string>Neurobiology</string>
		</array>
		<array>
			<string>BIO 347</string>
			<string>Animal Behavior</string>
		</array>
		<array>
			<string>BIO 359</string>
			<string>Microbiology</string>
		</array>
		<array>
			<string>BIO 363</string>
			<string>Freshwater Ecology</string>
		</array>
		<array>
			<string>BIO 371</string>
			<string>Field Botany</string>
		</array>
		<array>
			<string>BIO 373</string>
			<string>Freshwater Ecology Laboratory</string>
		</array>
		<array>
			<string>BIO 377</string>
			<string>Anatomy Laboratory</string>
		</array>
		<array>
			<string>BIO 378</string>
			<string>Physiology Laboratory</string>
		</array>
		<array>
			<string>BIO 379</string>
			<string>Microbiology Laboratory</string>
		</array>
		<array>
			<string>BIO 384</string>
			<string>Remote Sensing and Geographic Information Systems</string>
		</array>
		<array>
			<string>BIO 385</string>
			<string>Environmental Microbiology</string>
		</array>
		<array>
			<string>BIO 387</string>
			<string>Service Learning In Biology</string>
		</array>
		<array>
			<string>BIO 391</string>
			<string>The Art and Science of Medicine</string>
		</array>
		<array>
			<string>BIO 408</string>
			<string>Endocrinology</string>
		</array>
		<array>
			<string>BIO 418</string>
			<string>Biology of Exercise</string>
		</array>
		<array>
			<string>BIO 423</string>
			<string>Computational Biology</string>
		</array>
		<array>
			<string>BIO 442</string>
			<string>Ecology</string>
		</array>
		<array>
			<string>BIO 453</string>
			<string>Evolution</string>
		</array>
		<array>
			<string>BIO 460</string>
			<string>Immunology</string>
		</array>
		<array>
			<string>BIO 472</string>
			<string>Ecology Laboratory</string>
		</array>
		<array>
			<string>BIO 477</string>
			<string>Human Anatomy Dissection</string>
		</array>
		<array>
			<string>BIO 493</string>
			<string>Physiology Research</string>
		</array>
		<array>
			<string>BIO 497</string>
			<string>OT/PT Internship</string>
		</array>
	</array>
	<key>Business Administration</key>
	<array>
		<array>
			<string>BUS 100</string>
			<string>Introduction to Leadership</string>
		</array>
		<array>
			<string>BUS 200</string>
			<string>Principles of Marketing</string>
		</array>
		<array>
			<string>BUS 202</string>
			<string>Professional Development</string>
		</array>
		<array>
			<string>BUS 209</string>
			<string>Financial Accounting</string>
		</array>
		<array>
			<string>BUS 210</string>
			<string>Managerial Accounting</string>
		</array>
		<array>
			<string>BUS 250</string>
			<string>LEgal and Social Responsibility in Business</string>
		</array>
		<array>
			<string>BUS 255</string>
			<string>Introduction to Operations and Technology Management</string>
		</array>
		<array>
			<string>BUS 302</string>
			<string>Professional Development Internship</string>
		</array>
		<array>
			<string>BUS 305</string>
			<string>Business Finance</string>
		</array>
		<array>
			<string>BUS 310</string>
			<string>Intermediate Account I</string>
		</array>
		<array>
			<string>BUS 354</string>
			<string>Decision Modeling Laboratory</string>
		</array>
		<array>
			<string>BUS 355</string>
			<string>Decison Making</string>
		</array>
		<array>
			<string>BUS 356</string>
			<string>Database Management</string>
		</array>
		<array>
			<string>BUS 360</string>
			<string>Cross-Cultural Organizational Behavior</string>
		</array>
		<array>
			<string>BUS 361</string>
			<string>Foundations of Operations Management</string>
		</array>
		<array>
			<string>BUS 362</string>
			<string>Technology and Operations Management Lab</string>
		</array>
		<array>
			<string>BUS 364</string>
			<string>Innovation</string>
		</array>
		<array>
			<string>BUS 365</string>
			<string>Accounting Information Systems</string>
		</array>
		<array>
			<string>BUS 370</string>
			<string>Marketing Research</string>
		</array>
		<array>
			<string>BUS 376</string>
			<string>Sustainable Marketing</string>
		</array>
		<array>
			<string>BUS 400</string>
			<string>Mangement Decisions and Policy</string>
		</array>
		<array>
			<string>BUS 402</string>
			<string>Professional Development Workshop</string>
		</array>
		<array>
			<string>BUS 411</string>
			<string>Advanced Accounting I</string>
		</array>
		<array>
			<string>BUS 430</string>
			<string>Investments</string>
		</array>
		<array>
			<string>BUS 431</string>
			<string>Financial Markets and Institutions</string>
		</array>
		<array>
			<string>BUS 432</string>
			<string>Personal Financial Planning</string>
		</array>
		<array>
			<string>BUS 434</string>
			<string>Derivatives and Risk Management</string>
		</array>
		<array>
			<string>BUS 443</string>
			<string>International Marketing Mangement</string>
		</array>
		<array>
			<string>BUS 450</string>
			<string>Advanced Business Law</string>
		</array>
		<array>
			<string>BUS 453</string>
			<string>Supply Chain Management</string>
		</array>
		<array>
			<string>BUS 454</string>
			<string>Project Management Processes and Certification</string>
		</array>
		<array>
			<string>BUS 467</string>
			<string>Personal Taxation</string>
		</array>
		<array>
			<string>BUS 472</string>
			<string>Personal Selling</string>
		</array>
		<array>
			<string>BUS 480</string>
			<string>Creating a World-Class Venture</string>
		</array>
		<array>
			<string>BUS 484 </string>
			<string>New Venture Finance and Accounting</string>
		</array>
		<array>
			<string>BUS 491</string>
			<string>Applied Portfolio Management</string>
		</array>
		<array>
			<string>BUS 500</string>
			<string>Statistical and Quantitative Analysis</string>
		</array>
		<array>
			<string>BUS 505</string>
			<string>Introduction to Operations &amp; Technology Management</string>
		</array>
		<array>
			<string>BUS 506</string>
			<string>Principles of Accounting</string>
		</array>
		<array>
			<string>BUS 512</string>
			<string>Leadership and Higher Level Management</string>
		</array>
		<array>
			<string>BUS 513</string>
			<string>Social Responsibility in Organizations</string>
		</array>
		<array>
			<string>BUS 514</string>
			<string>Accounting and Financial Controls for the Nonprofit Organization</string>
		</array>
		<array>
			<string>BUS 517</string>
			<string>Marketing for the Nonprofit Organization</string>
		</array>
		<array>
			<string>BUS 520</string>
			<string>Applied Marketing Strategies</string>
		</array>
		<array>
			<string>BUS 522</string>
			<string>Marketing Research</string>
		</array>
		<array>
			<string>BUS 525</string>
			<string>Sales and the Global Market</string>
		</array>
		<array>
			<string>BUS 530</string>
			<string>Corporate Finance</string>
		</array>
		<array>
			<string>BUS 534</string>
			<string>Derivatives and Risk Management</string>
		</array>
		<array>
			<string>BUS 535</string>
			<string>International Economics and Trade</string>
		</array>
		<array>
			<string>BUS 536</string>
			<string>Peronsal Financial Planning</string>
		</array>
	</array>
	<key>Chemistry</key>
	<array>
		<array>
			<string>CHM 105</string>
			<string>Chemistry in Art</string>
		</array>
		<array>
			<string>CHM 207</string>
			<string>General Chemistry I</string>
		</array>
		<array>
			<string>CHM 208</string>
			<string>General Chemistry II</string>
		</array>
		<array>
			<string>CHM 273</string>
			<string>Special Chemistry Laboratory</string>
		</array>
		<array>
			<string>CHM 277</string>
			<string>General Chemistry Laboratory</string>
		</array>
		<array>
			<string>CHM 278</string>
			<string>General Chemistry Laboratory II</string>
		</array>
		<array>
			<string>CHM 303</string>
			<string>Computational Methods in Physical Sciences</string>
		</array>
		<array>
			<string>CHM 314</string>
			<string>Analytical Chemistry</string>
		</array>
		<array>
			<string>CHM 325</string>
			<string>Organic Chemistry I</string>
		</array>
		<array>
			<string>CHM 326</string>
			<string>Organic Chemistry II</string>
		</array>
		<array>
			<string>CHM 331</string>
			<string>Physical Chemistry I</string>
		</array>
		<array>
			<string>CHM 373</string>
			<string>Physical Chemistry II Laboratory</string>
		</array>
		<array>
			<string>CHM 375 </string>
			<string>Organic Chemistry I Laboratory</string>
		</array>
		<array>
			<string>CHM 379</string>
			<string>Analytical Chemistry Laboratory</string>
		</array>
		<array>
			<string>CHM 376</string>
			<string>Organic Chemistry II Laboratory</string>
		</array>
		<array>
			<string>CHM 387</string>
			<string>Service Learning in Chemistry</string>
		</array>
		<array>
			<string>CHM 393</string>
			<string>Natural Products Research</string>
		</array>
		<array>
			<string>CHM 444</string>
			<string>Inorganic Chemistry</string>
		</array>
		<array>
			<string>CHM 453</string>
			<string>Biochemistry I</string>
		</array>
		<array>
			<string>CHM 471</string>
			<string>Biochemistry Laboratory</string>
		</array>
		<array>
			<string>CHM 473</string>
			<string>Inorganic Synthesis and Characterization</string>
		</array>
		<array>
			<string>CHM 493</string>
			<string>Organic Chem Research</string>
		</array>
	</array>
	<key>Computer Science</key>
	<array>
		<array>
			<string>CS 201</string>
			<string>Introduction to Scientific Programming</string>
		</array>
		<array>
			<string>CS 203</string>
			<string>Introduction to Computer Science</string>
		</array>
		<array>
			<string>CS 301</string>
			<string>Object-oriented Design</string>
		</array>
		<array>
			<string>CS XXX</string>
			<string>Data Structures</string>
		</array>
		<array>
			<string>CS 421</string>
			<string>Artificial Intelligence</string>
		</array>
		<array>
			<string>CS 423</string>
			<string>Computational Biology</string>
		</array>
		<array>
			<string>CS 441</string>
			<string>Software Engineering</string>
		</array>
		<array>
			<string>CS 451</string>
			<string>Theory of Computation</string>
		</array>
	</array>
	<key>Communications Studies </key>
	<array>
		<array>
			<string>CST 101</string>
			<string>Introduction to Communication Studies</string>
		</array>
		<array>
			<string>CST 107</string>
			<string>Effective Public Speaking</string>
		</array>
		<array>
			<string>CST 225</string>
			<string>Fundamentals of Interpersonal Communication</string>
		</array>
		<array>
			<string>CST 233</string>
			<string>Introduction to Organizational Communication Theory</string>
		</array>
		<array>
			<string>CST 300</string>
			<string>Communication Research</string>
		</array>
		<array>
			<string>CST 301</string>
			<string>Media and Society</string>
		</array>
		<array>
			<string>CST 307</string>
			<string>Advanced Public Speaking</string>
		</array>
		<array>
			<string>CST 320</string>
			<string>Rhetorical Theory and Criticism</string>
		</array>
		<array>
			<string>CST 332</string>
			<string>Collaborative Leadership in Groups</string>
		</array>
		<array>
			<string>CST 333</string>
			<string>Applied Organizational Communication Skills</string>
		</array>
		<array>
			<string>CST 352</string>
			<string>News Writing and Reporting</string>
		</array>
		<array>
			<string>CST 362</string>
			<string>Introduction to Public Relations</string>
		</array>
		<array>
			<string>CST 364</string>
			<string>Visual Communication</string>
		</array>
		<array>
			<string>CST 391</string>
			<string>Event Planning</string>
		</array>
		<array>
			<string>391</string>
			<string>Creativity &amp; Digital Tools</string>
		</array>
		<array>
			<string>CST 402</string>
			<string>Social Media and Cultures</string>
		</array>
		<array>
			<string>CST 431</string>
			<string>Cross-cultural Communication and Identity</string>
		</array>
		<array>
			<string>CST 433</string>
			<string>Advanced Organizational Communication</string>
		</array>
		<array>
			<string>CST 434</string>
			<string>Examining Organizational Communication in Natural Settings</string>
		</array>
		<array>
			<string>CST 463</string>
			<string>Opinion Writing</string>
		</array>
		<array>
			<string>CST 483</string>
			<string>Grace in the Wilderness: Conflict in The Bible</string>
		</array>
		<array>
			<string>CST 491</string>
			<string>Int&apos;l Engagement &amp; Leadership</string>
		</array>
	</array>
	<key>Civil Engineering</key>
	<array>
		<array>
			<string>CE 201</string>
			<string>Civil Engineering Design Graphics</string>
		</array>
		<array>
			<string>CE 223</string>
			<string>Surveying</string>
		</array>
		<array>
			<string>CE 224</string>
			<string>Surveying Laboratory</string>
		</array>
		<array>
			<string>CE 302</string>
			<string>Construction Materials</string>
		</array>
		<array>
			<string>CE 321</string>
			<string>Geotechnical Engineering</string>
		</array>
		<array>
			<string>CE 351</string>
			<string>Structural Analysis I</string>
		</array>
		<array>
			<string>CE 371</string>
			<string>Geotechnical Laboratory</string>
		</array>
		<array>
			<string>CE 401</string>
			<string>Computational Methods in Civil Engineering</string>
		</array>
		<array>
			<string>CE 416</string>
			<string>Traffic Engineering</string>
		</array>
		<array>
			<string>CE 442</string>
			<string>Reinforced Concrete Design</string>
		</array>
		<array>
			<string>CE 452</string>
			<string>Earthquake Engineering</string>
		</array>
		<array>
			<string>CE 466</string>
			<string>Water and Wastewater Design</string>
		</array>
		<array>
			<string>CE 481</string>
			<string>Civil Engineering Senior Design Project I</string>
		</array>
	</array>
	<key>Psychology</key>
	<array>
		<array>
			<string>PSY 101</string>
			<string>General Psychology</string>
		</array>
		<array>
			<string>PSY 214</string>
			<string>Research Methods: Design</string>
		</array>
		<array>
			<string>PSY 215</string>
			<string>Research Methods: Analysis</string>
		</array>
		<array>
			<string>PSY 310</string>
			<string>Behavioral Neuroscience</string>
		</array>
		<array>
			<string>PSY 320</string>
			<string>Psychology of Learning</string>
		</array>
		<array>
			<string>PSY 340</string>
			<string>Sensation and Perception</string>
		</array>
		<array>
			<string>PSY 350</string>
			<string>Social Psychology</string>
		</array>
		<array>
			<string>PSY 356</string>
			<string>Perspectives on Human Sexuality</string>
		</array>
		<array>
			<string>PSY 360</string>
			<string>Life Span Development</string>
		</array>
		<array>
			<string>PSY 375</string>
			<string>The Self</string>
		</array>
		<array>
			<string>PSY 380</string>
			<string>Abnormal Psychology</string>
		</array>
		<array>
			<string>PSY 391</string>
			<string>Psychology &amp; Economics</string>
		</array>
		<array>
			<string>PSY 391</string>
			<string>Relationships</string>
		</array>
		<array>
			<string>PSY 391</string>
			<string>Drugs and Behavior</string>
		</array>
		<array>
			<string>400</string>
			<string>History of Psychology</string>
		</array>
		<array>
			<string>PSY 462</string>
			<string>Group Counseling</string>
		</array>
		<array>
			<string>PSY 480</string>
			<string>Clinical and Counseling Psychology</string>
		</array>
		<array>
			<string>PSY  494</string>
			<string>Neuroscience Research</string>
		</array>
		<array>
			<string>PSY 494</string>
			<string>Clinical Psychology Research</string>
		</array>
	</array>
	<key>Education</key>
	<array>
		<array>
			<string>ED 101</string>
			<string>Aim for Excellence</string>
		</array>
		<array>
			<string>ED 102</string>
			<string>University Success</string>
		</array>
		<array>
			<string>ED 150</string>
			<string>Introduction to Education</string>
		</array>
		<array>
			<string>ED 320</string>
			<string>Foundations of Education</string>
		</array>
		<array>
			<string>ED 330</string>
			<string>Polocies and Practices for Diverse Learners</string>
		</array>
		<array>
			<string>ED 340</string>
			<string>ECE/ELEM Physical Education</string>
		</array>
		<array>
			<string>ED 387</string>
			<string>Service Learning in Mathematics or Reading or Science</string>
		</array>
		<array>
			<string>ED 403</string>
			<string>Language and Communication: Support and Strategies</string>
		</array>
		<array>
			<string>ED 406</string>
			<string>Academic Assessment: Curriculum and Instruction for Diverse Learners</string>
		</array>
		<array>
			<string>ED 409</string>
			<string>Methods and Materials for Teaching ESOL</string>
		</array>
		<array>
			<string>ED 410</string>
			<string>Linguistics</string>
		</array>
		<array>
			<string>ED 411</string>
			<string>Assessment</string>
		</array>
		<array>
			<string>ED 414</string>
			<string>Children&apos;s and Adolescent Literature and Library</string>
		</array>
		<array>
			<string>ED 426</string>
			<string>ECE/ELEM Classroom Relationships and Management</string>
		</array>
		<array>
			<string>ED 427</string>
			<string>MS/HS Classroom Relationships and Management</string>
		</array>
		<array>
			<string>ED 445</string>
			<string>ECE/ELEM Mathematics and Science Methods</string>
		</array>
		<array>
			<string>ED 447</string>
			<string>Fostering Creativity in the Classroom</string>
		</array>
		<array>
			<string>ED 452</string>
			<string>MS/HS Content Methods: Language Arts</string>
		</array>
		<array>
			<string>ED 453</string>
			<string>MS/HS Content Methods: Math</string>
		</array>
		<array>
			<string>ED 454</string>
			<string>MS/HS Content Methods: World Language</string>
		</array>
		<array>
			<string>ED 456</string>
			<string>MS/HS Content Methods: Social Studies</string>
		</array>
		<array>
			<string>ED 457</string>
			<string>MS/HS Content Methods: Science</string>
		</array>
		<array>
			<string>ED 460</string>
			<string>Endorsement Portfolio -ESL</string>
		</array>
		<array>
			<string>ED 464</string>
			<string>Reading Practicum PK-12</string>
		</array>
		<array>
			<string>ED 468</string>
			<string>Special Education Practicum PK-12</string>
		</array>
	</array>
	<key>Drama</key>
	<array>
		<array>
			<string>DRM 207</string>
			<string>Introduction to Theatre Design &amp; Communication</string>
		</array>
		<array>
			<string>DRM 307</string>
			<string>Survey of Theatre History</string>
		</array>
		<array>
			<string>DRM 325</string>
			<string>Acting for Non-Majors</string>
		</array>
		<array>
			<string>DRM 353</string>
			<string>Beginning Scenic Design</string>
		</array>
		<array>
			<string>DRM 422</string>
			<string>Advanced Acting</string>
		</array>
		<array>
			<string>DRM 424</string>
			<string>Graduate Preparation Workshop</string>
		</array>
		<array>
			<string>DRM 427</string>
			<string>Playwriting</string>
		</array>
		<array>
			<string>DRM 455</string>
			<string>Music Theatre Workshop</string>
		</array>
		<array>
			<string>DRM 456</string>
			<string>Decorative Arts for the Stage</string>
		</array>
		<array>
			<string>DRM 463</string>
			<string>Advanced Costume Design</string>
		</array>
		<array>
			<string>DRM 490</string>
			<string>Abnormal Psychology</string>
		</array>
		<array>
			<string>DRM 507</string>
			<string>Survey of Theatre History I</string>
		</array>
		<array>
			<string>DRM 510</string>
			<string>Theories of Dramatic Criticism</string>
		</array>
		<array>
			<string>DRM 521</string>
			<string>Acting Pedagogy</string>
		</array>
		<array>
			<string>DRM 533</string>
			<string>Advanced Play Direction</string>
		</array>
	</array>
	<key>Electrical Engineering</key>
	<array>
		<array>
			<string>EE 231</string>
			<string>Logic Design</string>
		</array>
		<array>
			<string>EE 261</string>
			<string>Electrical Circuits</string>
		</array>
		<array>
			<string>EE 333</string>
			<string>Computer Organization</string>
		</array>
		<array>
			<string>EE 351</string>
			<string>Electronic Circuits I</string>
		</array>
		<array>
			<string>EE 404</string>
			<string>Automatic Control Systems</string>
		</array>
		<array>
			<string>EE 420</string>
			<string>Engergy Conversion</string>
		</array>
		<array>
			<string>EE 435</string>
			<string>Verilog Digital Systems Modeling</string>
		</array>
		<array>
			<string>EE 451</string>
			<string>Advanced Analog Electronics</string>
		</array>
	</array>
	<key>English</key>
	<array>
		<array>
			<string>ENG 101</string>
			<string>English as a Second Language for International Students: Advanced</string>
		</array>
		<array>
			<string>ENG 107</string>
			<string>College Writing</string>
		</array>
		<array>
			<string>ENG 112</string>
			<string>Introduction to Literature</string>
		</array>
		<array>
			<string>ENG 309</string>
			<string>Writing Workshop: Fiction</string>
		</array>
		<array>
			<string>ENG 311</string>
			<string>Advanced Writing</string>
		</array>
		<array>
			<string>ENG 317</string>
			<string>Composition Theory and Practice</string>
		</array>
		<array>
			<string>ENG 326</string>
			<string>Shakespeare: Representative Plays</string>
		</array>
		<array>
			<string>ENG 343</string>
			<string>Studies in Nonfiction</string>
		</array>
		<array>
			<string>ENG 344</string>
			<string>Romantic Literature 1785-1830</string>
		</array>
		<array>
			<string>ENG 346</string>
			<string>Modern British Literature 1900-1945</string>
		</array>
		<array>
			<string>ENG 354</string>
			<string>American Literature Beginnings-1865</string>
		</array>
		<array>
			<string>ENG 489</string>
			<string>Fremantle, Australia</string>
		</array>
		<array>
			<string>ENG 491</string>
			<string>Multi-Ethnic American Lit</string>
		</array>
	</array>
	<key>Chinese</key>
	<array>
		<array>
			<string>CHN 101</string>
			<string>Beginning Chinese I</string>
		</array>
		<array>
			<string>CHN 101</string>
			<string>Beginning Chinese III</string>
		</array>
		<array>
			<string>CHN 111</string>
			<string>Chinese Language Lab I</string>
		</array>
		<array>
			<string>CHN 113</string>
			<string>Chinese Language Lab III</string>
		</array>
		<array>
			<string>CHN 491</string>
			<string>Second Language Strat/Theory</string>
		</array>
	</array>
	<key>Dance</key>
	<array>
		<array>
			<string>DNC 214</string>
			<string>Jazz Dance</string>
		</array>
		<array>
			<string>DNC 216</string>
			<string>Introduction to Ballet I</string>
		</array>
		<array>
			<string>DNC 315</string>
			<string>Jazz and Modern</string>
		</array>
		<array>
			<string>DNC 316</string>
			<string>Jazz Dance II</string>
		</array>
		<array>
			<string>DNC 317</string>
			<string>Ballet II</string>
		</array>
	</array>
	<key>Aerospace Studies</key>
	<array>
		<array>
			<string>AS 101</string>
			<string>Foundations of the U.S. Air Force</string>
		</array>
		<array>
			<string>AS 201</string>
			<string>The Evaluation of USAF Air &amp; Space Power</string>
		</array>
		<array>
			<string>AS 301</string>
			<string>Leadership &amp; Management</string>
		</array>
		<array>
			<string>AS 401</string>
			<string>National Security Affairs &amp; Preparation for Active Duty</string>
		</array>
	</array>
</dict>
</plist>
